form{
    display: flex;
    flex-direction: column;
    margin:auto auto;
    width: 80%;
    gap:15px;
    background-color: rgb(216, 184, 81);
}
#show{
    width: 80%;
    margin: auto;
    background-color: rgb(81, 106, 216);
}
button{
    width:100px;
    height:30px;
    background-color: brown;
    border:none;
    border-radius:10px;

}